<!DOCTYPE html>
<html lang="en">
<head>
  <title>All Friends</title>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>

<body>
<h1>All Your Friends:</h1>

<div id="friend_list">
<ul>
<% $rolodex.contacts.each do |contact| %>
  <li><a href="/contacts/<%= contact.id%>">(<%= contact.id %>) <%= contact.first_name %>  <%= contact.last_name %>: <p><%= contact.email %> - <%= contact.note %></a></p></li>
<% end %>
</ul>
</div>

</body>
</html>